.tc { text-align: center; }
._em { font-weight: bold; }
.f18 { font-size: 18px; }
._warming { color: #f44336; }
.border { color: #d1d1d1; background-repeat: no-repeat; }
.border._t { background-image: linear-gradient(180deg, currentColor 50%, transparent 0); background-size: 100% 1px; background-position: top; }
.border._r { background-image: linear-gradient(270deg, currentColor 50%, transparent 0); background-size: 1px 100%; background-position: right; }
.border._b { background-image: linear-gradient(0deg, currentColor 50%, transparent 0); background-size: 100% 1px; background-position: bottom; }
.border._l { background-image: linear-gradient(90deg, currentColor 49%, transparent 0); /* why49? */ background-size: 1px 100%; background-position: left; }
.border._a { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%; background-position: top, right, bottom, left; }
.border._t._r { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(270deg, currentColor 50%, transparent 0); background-size: 100% 1px, 1px 100%; background-position: top, right; }
.border._t._b { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0); background-size: 100% 1px, 100% 1px; background-position: top, bottom; }
.border._t._l { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 100% 1px, 1px 100%; background-position: top, left; }
.border._r._b { background-image: linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0); background-size: 1px 100%, 100% 1px; background-position: right, bottom; }
.border._r._l { background-image: linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 1px 100%, 1px 100%; background-position: right, left; }
.border._b._l { background-image: linear-gradient(0deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 100% 1px, 1px 100%; background-position: bottom, left; }
.border._t._r._b { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0); background-size: 100% 1px, 1px 100%, 100% 1px; background-position: top, right, bottom; }
.border._t._r._l { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 100% 1px, 1px 100%, 1px 100%; background-position: top, right, left; }
.border._r._b._l { background-image: linear-gradient(270deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 1px 100%, 100% 1px, 1px 100%; background-position: right, bottom, left; }
.border._b._l._t { background-image: linear-gradient(180deg, currentColor 50%, transparent 0), linear-gradient(0deg, currentColor 50%, transparent 0), linear-gradient(90deg, currentColor 49%, transparent 0); background-size: 100% 1px, 100% 1px, 1px 100%; background-position: top, bottom, left; }

/* style _1m2 */
._1m2 .bar-nav .title { margin-left: -17px; }
._1m2 ._padding { padding: 0 17px; }
._1m2 .page { background-color: #fff; }
._1m2 .bar-nav { background-color: #005ca2; height: 44px; border-bottom: none; padding-right: 17px; padding-left: 17px; }
._1m2 .bar-nav~.content { top: 44px; }
._1m2 .bar-nav .title { line-height: 44px; font-size: 20px; }
._1m2 .bar-nav .title, ._1m2 .bar-nav .icon, ._1m2 .bar-nav .button-link { color: #fff; height: 44px; line-height: 44px; padding: 0; }
._1m2 .bar-nav .button-nav.pull-left { margin-left: -11px; }
._1m2 .list-block .item-content { padding-left: 0; }
._1m2 .list-block .item-title.label { width: 90px; text-align: center; color: #005ca2; }
._1m2 .result-panel { padding: 40px 0; text-align: center; }
._1m2 .result-panel ._padding { text-align: left; }
._1m2 .result-panel .anticon { font-size: 80px; line-height: 1; }
._1m2 .result-panel .anticon._success { color: #34ad37; }
._1m2 .result-panel .anticon._error { color: #ce0000; }
._1m2 .bar-tab { height: 54px; background-color: #fff; border: none; }
._1m2 .bar-tab .tab-item { height: 54px; color: #959595; }
._1m2 .bar-tab .tab-item.active, .bar-tab .tab-item:active { color: #005ca2; }
._1m2 .bar-tab .tab-item .anticon { top: 0; padding-top: 0; padding-bottom: 0; font-size: 26px; line-height: 1; }
._1m2 .bar-tab .tab-item .anticon~.tab-label { position: relative; top: 0; display: block; font-size: 12px; line-height: 1; }

/* _login */
._login .list-block { margin: 0 0 44px; }
._login .logo-panel { height: 160px; font-size: 0; position: relative; }
._login .logo-panel .logo { display: block; position: absolute; width: 90px; height: 90px; border-radius: 50%; box-sizing: border-box; top: 50%; left: 50%; margin-left: -45px; margin-top: -45px; padding: 19px; overflow: hidden; box-shadow: 0px 3px 5px 0px rgba(14, 102, 139, 0.3); }
._login .logo-panel .logo > img { display: block; width: 52px; height: 52px; }
._login .btn-submit { margin-bottom: 25px; }
._login .remenber-panel { padding: 0 17px; font-size: 0; }
._login .remenber-panel .orgin { display: inline-block; margin-right: 5px; }
._login .remenber-panel .mirror { font-size: 12px; vertical-align: 2px; }
._login .regAndForget-panel { text-align: center; font-size: 0; position: absolute; bottom: 0; width: 100%; bottom: 20px; }
._login .regAndForget-panel .txt { font-size: 13px; vertical-align: middle; color: #313131; }
._login .regAndForget-panel .spacer { display: inline-block; width: 1px; height: 17px; margin: 0 15px; background-color: #005ca2; vertical-align: middle; }
._find-password .list-block .item-input.getCode input[type=text] { padding-right: 100px; }
._find-password .btn-getCode { position: absolute; right: 0px; font-size: 12px; width: 85px; top: 50%; height: 36px; padding: 0; line-height: 36px; margin-top: -18px; }
._find-password .list-block .item-input.getCode { position: relative; }

/* _main */
._main .page >.content { background-color: #eee; padding-bottom: 64px; }
._main .stat-panel { position: relative; background-color: #005ca2; padding: 0 10px; color: #fff; }
._main .stat-panel .stat-tit { height: 40px; line-height: 40px; }
._main .stat-panel .stat-tit .anticon { font-size: 15px; vertical-align: middle; }
._main .stat-panel .stat-tit .txt { font-size: 15px; vertical-align: middle; }
._main .stat-panel .stat-content { height: 112px; position: relative; text-align: center; }
._main .stat-panel .stat-content .stat-amount { height: 80px; line-height: 80px; white-space: nowrap; text-overflow: ellipsis; background: #fff; color: #ff7300; font-size: 30px; box-shadow: 1px 1.732px 3px 0px rgba(0, 0, 0, 0.3); background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 91%, rgb(222, 222, 222) 95%, rgb(229, 229, 229) 100%); background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 91%, rgb(222, 222, 222) 95%, rgb(229, 229, 229) 100%); background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 91%, rgb(222, 222, 222) 95%, rgb(229, 229, 229) 100%); margin: 14px auto 0; z-index: 10; position: relative; width: 70%; }
._main .stat-panel .stat-content:after { content: ''; height: 10px; background-color: #023358; position: absolute; width: 70%; z-index: 8; border-right: 5px solid #023358; border-left: 5px solid #023358; margin-top: 14px; left: 50%; right: 0; left: 0; margin: auto; top: -5px; }
._main .stat-panel .stat-content .stat-amount sub { vertical-align: .25em; }
._main .list-panel { position: relative; background-color: #fff; padding: 0 10px; margin-top: 10px; }
._main .list-panel .list-tit { height: 40px; line-height: 40px; }
._main .list-panel .list-tit .anticon { font-size: 14px; vertical-align: middle; color: #34ad37; margin-right: 2px; }
._main .list-panel .list-tit .txt { font-size: 14px; vertical-align: middle; color: #131313; }
._main .list-content { position: relative; }
._main .list-content .list-orgin { table-layout: fixed; width: 100%; text-align: center; }
._main .list-content thead th { color: #fff; height: 30px; line-height: 30px; background-color: #317bb4; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 15px; font-weight: normal; }
._main .list-content tbody td { height: 35px; line-height: 1.5; }
._main .list-content tbody tr:active, ._main .list-content tbody tr.active { background-color: #c8e2f6; }
._main .list-content tbody .txt { font-size: 12px; color: #121212; }

/* _project */
._project .page >.content { background-color: #eee; padding-bottom: 64px; }
._project .list-panel { position: relative; }
._project .list-panel .list-filter { height: 40px; box-shadow: 0px 1px 3px 0px rgba(4, 0, 0, 0.2); background-color: #fff; text-align: center; line-height: 40px; padding: 0 10px; margin-bottom: 10px; }
._project .list-panel .list-filter .filter-orgin { display: inline-block; width: 100%; height: 25px; }
._project .list-panel .list-item { padding-top: 10px; padding-bottom: 10px; background-color: #fff; overflow: hidden; margin-bottom: 10px; display: flex; }
._project .list-panel .list-item .list-item-main { width: 100%; float: left; line-height: 1; flex-grow: 1; }
._project .list-panel .list-item .list-item-main .tit { color: #131313; font-size: 16px; margin-bottom: 10px; margin-top: 5px; }
._project .list-panel .list-item .list-item-main .sub_1_tit { color: #666; font-size: 12px; margin-bottom: 10px; }
._project .list-panel .list-item .list-item-main .sub_2_tit { color: #131313; font-size: 12px; }
._project .list-panel .list-item .list-item-left { flex-shrink: 0; flex-basis: 120px; }
._project .list-panel .list-item .list-item-left .img { width: 100px; height: 64px; position: relative; overflow: hidden; margin-left: 10px; font-size: 0; }
._project .list-panel .list-item .list-item-left .img img.orgin { width: 100%; height: auto; }
._project .list-panel .list-item .list-item-right { flex-shrink: 0; flex-basis: 100px; text-align: right; padding-right: 10px; }
._project .list-panel .list-item .list-item-right .tag { overflow: hidden; margin-bottom: 20px; display: inline-block; }
._project .list-panel .list-item .list-item-right .tag-inner { float: right; font-size: 12px; }
._project .list-panel .list-item .list-item-right .tag-inner .tit { float: left; line-height: 14px; height: 16px; background-color: #ce0000; color: #fff; border: 1px solid #ce0000; padding: 0 4px; }
._project .list-panel .list-item .list-item-right .tag-inner .txt { float: left; line-height: 14px; border: 1px solid #ce0000; height: 16px; padding: 0 5px; color: #ce0000; }
._project .list-panel .list-item .list-item-right .action { float: right; }

/* _report */
._report .page >.content { padding-bottom: 64px; overflow-x: hidden; }
._report .list-panel { margin: 20px 0; }
._report .list-panel .item-content { margin-bottom: 20px; }
._report .list-panel .item-content .item-tit { width: 80px; text-align: right; padding: 0 10px; box-sizing: border-box; float: left; color: #131313; font-size: 14px; margin-top: 10px; }
._report .list-panel .item-content .item-input { margin-left: 80px; padding-right: 18px; }
._report .list-panel .item-content .item-input .item-orgin { width: 100%; height: 40px; border: 1px solid #959595; border-radius: 5px; padding: 0 10px; background-color: #fff; }
._report .list-panel .item-content .item-input { position: relative; }
._report .list-panel .item-content .item-input input[type='file'] { position: absolute; clip: rect(1px, 1px, 1px, 1px); }
._report .list-panel .item-content .item-input .upload-ipt .button { height: 40px; line-height: 40px; }
._report .list-panel .item-content .item-input .upload-ipt .button .anticon { font-size: 18px; margin-right: 3px; }
._report .list-panel .item-content .uploaded { position: relative; display: none; }
._report .list-panel .item-content._active .uploaded { display: block; }
._report .list-panel .item-content._active .file-panel { display: none; }
._report .list-panel .item-content .uploaded .item { overflow: hidden; margin-bottom: 5px; padding: 10px 0; }
._report .list-panel .item-content .uploaded .item .fileName { margin-right: 90px; font-size: 14px; }
._report .list-panel .item-content .uploaded .item .action { float: right; width: 80px; }
._report .list-panel .item-content .uploaded .item .action .button { color: red; border-color: red; font-size: 12px; float: right; }
._report .list-panel .item-content .uploaded .item .action .button .anticon { font-size: 14px; margin-right: 5px; }

/* _user */
._user .page >.content { background-color: #eee; padding-bottom: 64px; }
._user .user-panel { height: 115px; background-color: #005ca2; text-align: center; padding-top: 10px; }
._user .user-panel .avatar { width: 70px; height: 70px; display: inline-block; font-size: 0; overflow: hidden; }
._user .user-panel .avatar img { width: 100%; height: 100%; }
._user .user-panel .id { color: #fff; font-size: 13px; }
._user .list-group { margin: 10px 0; background-color: #fff; padding-left: 10px; }
._user .list-group .list-item { height: 40px; line-height: 40px; overflow: hidden; display: block; }

/* ._user .list-group .list-item:not(:last-child){border-bottom: 1px solid #ccc;} */
._user .list-group .list-item .left { float: left; }
._user .list-group .list-item .right { float: right; margin-right: 10px; }
._user .list-group .list-item .tit { font-size: 14px; color: #131313; vertical-align: middle; }
._user .list-group .list-item .left .anticon { color: #34ad37; font-size: 16px; margin-right: 5px; }
._user .list-group .list-item .left .anticon._logo { background: url('../img/login_logo.png') no-repeat center center; background-size: cover; width: 16px; height: 16px; display: inline-block; }
._user .list-group .list-item .left .anticon._logo:before { content: ''; }
._user .list-group .list-item .right .anticon { color: #ccc; font-size: 16px; margin-left: 5px; }
._user .list-group .list-item .anticon { vertical-align: middle; }
._user .list-group .list-item .txt { font-size: 14px; color: #131313; vertical-align: middle; }

/* _commission */
._commission .page >.content { padding-bottom: 64px; background: #eee; }
._commission .group { margin-bottom: 10px; min-height: 110px; background-color: #fff; padding: 30px 15px; }
._commission .group .item .tit { color: #131313; font-size: 13px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: break-word; margin-bottom: 5px; }
._commission .group .item .txt { font-size: 30px; color: #ff7300; word-wrap: break-word; line-height: 1.2; }
._commission .group .item .txt sub { vertical-align: .25em; }

/* _card */
._card .page >.content { padding-bottom: 64px; background: #eee; }
._card .list-item .item { overflow: hidden; padding: 10px 0; background-color: #fff; margin-bottom: 10px; }
._card .list-item .item .left { width: 90px; float: left; }
._card .list-item .item .left .bank-logo { width: 60px; height: 60px; font-size: 0; overflow: hidden; margin: auto; }
._card .list-item .item .left .bank-logo img { width: 100%; height: 100%; }
._card .list-item .item .main { margin-left: 90px; }
._card .list-item .item .main { color: #131313; }
._card .list-item .item .main .tit { font-size: 15px; font-weight: bold; line-height: 1.3; margin-bottom: 8px; }
._card .list-item .item .main .sub_1_tit { font-size: 12px; margin-bottom: 32px; }
._card .list-item .item .main .sub_2_tit { font-size: 18px; line-height: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._card .list-item .addCard-btn { display: block; text-align: center; height: 50px; line-height: 50px; background-color: #fff; }
._card .list-item .addCard-btn:first-line { color: #005ca2; }
._card .list-item .addCard-btn .anticon { font-size: 16px; margin-right: 15px; }
._card .list-block { margin: 0 0 40px; }
._card .list-block > .tit { color: #666; line-height: 35px; height: 35px; font-size: 12px; padding: 0 15px; }
._card .card .card-content._money { padding: 15px; }
._card .card .card-content._money .tit { font-size: 25px; color: #f44336; font-weight: bold; display: inline-block; }
._card .card .card-content._money > input { width: 80%; font-size: 25px; border: none; background-color: transparent; color: #f44336; font-weight: bold; }

/* _bindPhone */
._bindPhone .list-block .item-input.getCode input[type=text] { padding-right: 100px; }
._bindPhone .btn-getCode { position: absolute; right: 0px; font-size: 12px; width: 85px; top: 50%; height: 36px; padding: 0; line-height: 36px; margin-top: -18px; }
._bindPhone .list-block .item-input.getCode { position: relative; }

/* _modify-loginPwd */

/* _about */
._about .indent p { text-indent: 2em; }

/* _record */
._record .record-panel { padding: 0 15px 20px; }
._record .record-panel .date { font-size: 16px; color: #333; padding: 20px 0; }
._record .record-panel .date .anticon { font-size: 14px; margin-right: 3px; color: #34ad37; }
._record .record-panel .record-btn { display: block; width: 170px; height: 170px; border-radius: 50%; color: #fff; background-color: #34ad37; margin: auto; text-align: center; position: relative; padding-top: 60px; line-height: 1; transition: all .1s; }
._record .record-panel .record-btn .txt { position: relative; z-index: 20; }
._record .record-panel .record-btn .sign { font-size: 26px; margin-bottom: 10px; }
._record .record-panel .record-btn .timer { font-size: 20px; }
._record .record-panel .record-btn.disabled { background-color: #ddd; color: #fff; }

/* _customerDetail */
._customerDetail .page >.content { background: #eee; }
._customerDetail .info-group { margin: 10px 0; padding: 10px; background-color: #fff; }
._customerDetail .info-group .info-tit { color: #333; height: 40px; line-height: 40px; }
._customerDetail .info-group .info-tit .txt { font-size: 15px; vertical-align: middle; }
._customerDetail .info-group .info-tit .anticon { font-size: 15px; vertical-align: middle; margin-right: 3px; color: #48b54b; }
._customerDetail .info-group .info-item { color: #333; overflow: hidden; font-size: 15px; padding: 5px 0; }
._customerDetail .info-group .info-item .tit { width: 100px; float: left; color: #666; }
._customerDetail .info-group .info-item .tit:after { content: ':'; }
._customerDetail .info-group .info-item .txt { margin-left: 110px; color: #333; }
._customerDetail .info-group .img-item { width: 115px; height: 115px; overflow: hidden; position: relative; margin: 0 auto; border: 1px solid #005ca2; }
._customerDetail .info-group .img-item img { width: 100%; height: auto; position: relative; z-index: 10; }
._customerDetail .info-group .img-item .name { position: absolute; width: 100%; left: 0; bottom: 0; background-color: rgba(0, 92, 162, .8); color: #fff; font-size: 13px; text-align: center; padding: 3px 10px; z-index: 20; }

/* _reg */
._reg .page >.content { background: #eee; padding-bottom: 20px; }
._reg .list-block .item-input.getCode input[type=text] { padding-right: 100px; }
._reg .btn-getCode { position: absolute; right: 0px; font-size: 12px; width: 85px; top: 50%; height: 36px; padding: 0; line-height: 36px; margin-top: -18px; }
._reg .list-block .item-input.getCode { position: relative; }
._reg .terms-panel { margin: 10px 15px 20px; padding: 10px; border: 1px solid #005ca2; background-color: #fff; }
._reg .terms-panel .tit .txt { color: #005ca2; font-size: 14px; line-height: 1.3; margin-bottom: 10px; }
._reg .terms-panel .terms-content .sub { font-size: 12px; color: #666; margin-bottom: 20px; }
._reg .terms-panel .terms-content label { display: inline-block; margin-bottom: 10px; }
._reg .terms-panel .terms-content label input { vertical-align: middle; position: relative; top: 0px; margin-right: 5px; }
._reg .terms-panel .terms-content label .txt { color: #1a1a1a; font-size: 12px; font-weight: bold; }
._reg .terms-panel .terms-content .tip { font-size: 12px; color: #ce0000; }
._reg .contact { text-align: center; font-size: 12px; color: #303030; margin-top: 40px; }

/* _buildingDetail */
._buildingDetail .page >.content { background: #eee; padding-bottom: 50px; }
._buildingDetail .info-group { margin: 10px 0; padding: 10px; background-color: #fff; }
._buildingDetail .info-group .info-tit { color: #333; height: 40px; line-height: 40px; }
._buildingDetail .info-group .info-tit .txt { font-size: 15px; vertical-align: middle; }
._buildingDetail .info-group .info-tit .anticon { font-size: 15px; vertical-align: middle; margin-right: 3px; color: #48b54b; }
._buildingDetail .info-group .info-item { color: #333; overflow: hidden; font-size: 15px; padding: 10px 0; }
._buildingDetail .info-group .info-item .tit { width: 80px; float: left; color: #666; }
._buildingDetail .info-group .info-item .tit:after { content: ':'; }
._buildingDetail .info-group .info-item .txt { margin-left: 90px; color: #333; }
._buildingDetail .info-group .txt-panel { color: #333; line-height: 1.5; font-size: 15px; }
._buildingDetail .info-group .info-content .img-item { overflow: hidden; padding: 10px 0; }
._buildingDetail .info-group .info-content .img-item:last-child { margin-bottom: -10px; }
._buildingDetail .info-group .info-content .img-item .img-left { width: 80px; height: 60px; float: left; overflow: hidden; }
._buildingDetail .info-group .info-content .img-item .img-left img { display: block; width: 100%; height: auto; }
._buildingDetail .info-group .info-content .img-item .img-main { margin-left: 90px; color: #333; }
._buildingDetail .info-group .info-content .img-item .img-main .tit { color: #333; font-size: 16px; display: block; float: left; width: 90%; font-size: 15px; line-height: 1.35; }
._buildingDetail .info-group .info-content .img-item .img-main .anticon { float: right; line-height: 60px; color: #ddd; display: block; width: 10%; text-align: right; }
._buildingDetail .info-group .info-content .map { height: 160px; overflow: hidden; }
._buildingDetail .info-group .info-content .map img { width: 100%; height: auto; }
._buildingDetail .swiper-container { width: 100%; height: 180px; position: relative; }
._buildingDetail .swiper-container > .tit { position: absolute; width: 100%; left: 0; top: 0; font-size: 15px; color: #fff; background-color: rgba(0, 0, 0, .6); padding: 8px 10px; z-index: 10; line-height: 1.35; }
._buildingDetail .swiper-container .swiper-slide img { width: 100%; height: auto; }
._buildingDetail .swiper-container-horizontal>.swiper-pagination { bottom: 0; }
._buildingDetail .short-panel { margin: 20px 0; }
._buildingDetail .short-panel .short-wrap { overflow: hidden; list-style: none; margin: 0; padding: 0; }
._buildingDetail .short-panel .short-item { width: 20%; float: left; text-align: center; }
._buildingDetail .short-panel .short-item > a { display: block; }
._buildingDetail .short-panel .short-item > a .img { display: block; width: 44px; height: 44px; overflow: hidden; font-size: 0; margin: auto; margin-bottom: 6px; }
._buildingDetail .short-panel .short-item > a .img img { display: block; width: 100%; height: 100%; }
._buildingDetail .short-panel .short-item > a .txt { display: block; color: #333; font-size: 15px; line-height: 1; }
._buildingDetail .fixed-action { position: fixed; width: 100%; left: 0; bottom: 0; height: 50px; line-height: 50px; background-color: #fff; }
._buildingDetail .fixed-action .action-right { width: 130px; float: right; text-align: center; height: 100%; }
._buildingDetail .fixed-action .action-right .button { display: inline-block; }
._buildingDetail .fixed-action .action-main { margin-right: 130px; box-sizing: border-box; padding: 0 10px; }
._buildingDetail .fixed-action .action-main .txt { color: #ce0000; border: 1px solid #ce0000; font-size: 16px; padding: 1px 10px 1px 1px; line-height: 1; }
._buildingDetail .fixed-action .action-main .txt:before { content: '佣金'; color: #fff; background-color: #ce0000; padding: 0 5px; display: inline; margin-right: 10px; }

/* _projectRecommend */
._projectRecommend .page >.content { background: #eee; }
._projectRecommend .user { height: 50px; line-height: 50px; overflow: hidden; background-color: #fff; padding: 0 15px; margin-bottom: 20px; }
._projectRecommend .user .left { font-size: 15px; float: left; color: #333; }
._projectRecommend .user .right { font-size: 15px; float: right; color: #333; }
._projectRecommend .qrcode { padding: 15px; margin: 0 0 20px; background-color: #fff; overflow: hidden; }
._projectRecommend .qrcode .qrcode-content { width: 180px; height: 180px; margin: auto; }
._projectRecommend .qrcode .tip { color: #333; font-size: 16px; text-align: center; margin-bottom: 0; }
._projectRecommend .fixed { position: fixed; bottom: 0; width: 100%; left: 0; background-color: #fff; padding: 10px 15px; box-sizing: border-box; line-height: 48px; }
._projectRecommend .fixed .button { display: inline-block; vertical-align: middle; width: 100%; }

/* _shareQRcode */
._shareQRcode .page >.content { background: #eee; }
._shareQRcode .user { height: 50px; line-height: 50px; overflow: hidden; background-color: #fff; padding: 0 15px; margin-bottom: 20px; }
._shareQRcode .user .left { font-size: 15px; float: left; color: #333; }
._shareQRcode .user .right { font-size: 15px; float: right; color: #333; }
._shareQRcode .qrcode { padding: 15px; margin: 0 0 20px; background-color: #fff; overflow: hidden; }
._shareQRcode .qrcode .qrcode-content { width: 180px; height: 180px; margin: auto; }
._shareQRcode .qrcode .tip { color: #333; font-size: 16px; text-align: center; margin-bottom: 0; }
._shareQRcode .qrcode .invite { margin-bottom: 1em; font-size: 16px; text-align: center; }
._shareQRcode .qrcode .invite .tit { color: #333; }
._shareQRcode .qrcode .invite .txt { color: #005ca2; font-weight: bold; }
._shareQRcode .fixed { position: fixed; bottom: 0; width: 100%; left: 0; background-color: #fff; padding: 10px 15px; box-sizing: border-box; line-height: 48px; }
._shareQRcode .fixed .button { display: inline-block; vertical-align: middle; width: 100%; }

/* mod-progress */
.mod-progress { display: flex; flex-direction: column; padding: 0 15px; margin: 20px 0; }
.mod-progress .mod-progress-item { display: flex; position: relative; padding-bottom: 10px; }
.mod-progress .mod-progress-item:last-child:after { display: none; }
.mod-progress .mod-progress-item .mod-progress-ico .icon { color: #ddd; }
.mod-progress .mod-progress-item._success .mod-progress-ico .icon { color: #33ad37; }
.mod-progress .mod-progress-item._success:after { background-color: #33ad37; }
.mod-progress .mod-progress-item .mod-progress-ico { flex-basis: 40px; height: 40px; line-height: 1; text-align: center; flex-shrink: 0; position: relative; z-index: 20; s }
.mod-progress .mod-progress-item:after { content: ''; position: absolute; bottom: 0; top: 18px; right: 0; left: 19px; width: 2px; background: #ddd; z-index: 10; }
.mod-progress .mod-progress-item .mod-progress-main { flex-grow: 1; }
.mod-progress .mod-progress-item .mod-progress-main > p { margin: .5em 0; font-size: 18px; }
.mod-progress .mod-progress-item .mod-progress-main > p:first-child { margin-top: 0; }
.ui-select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; box-shadow: none; border: 1px solid #959595; background: none; display: block; padding: 0 10px; margin: 0; width: 100%; height: 40px;border-radius: 5px; color: #333； }
